li:hover > .icono{
    display: flex;
    align-items: center;
}

.icono {
    display: none;
}

.container {
    width: 35%;
}

.hoja1 {
 width: 98%;  
 height: 0.35rem ;
 border: 1px solid lightgray;
 margin: 0 auto;

}

.hoja2 {
 width: 96%;  
 height: 0.35rem ;
 border: 1px solid lightgray;
 margin: 0 auto;
}



